@themeColor: #ff8db3;
@secondColor: #ffd052;
@fontColor: #222;

@backHeaderHeight: 55px;
@bg: #f1f1f1;

*{
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	font-size: 63%\9;
	min-height: 100%;
	background-color: @bg;
}
body{
	width: auto;
	height: 100%;
	font-family: "MicroSoft YaHei", "微软雅黑", Georgia, 'Times New Roman', serif;
	color: @fontColor;
}
.fl{
	float: left !important;
}
.fr{
	float: right !important;
}
.clearfix{
	*zoom: 1;
	&:before, &:after{
		display: table;
		line-height:0px;
		content: "";
	}
	&:after{
		clear: both;
	}
}
.ss-flex {
    display: -webkit-box;
  	display: -webkit-flex;
  	display: flex;
}
.ss-flex-item {
    -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}
.select-header{
	@height: 45px;
	height: @height;
	border-bottom: #ccc 1px solid;
	position: fixed;
	top: 0px;
	background-color: #fff;
	z-index: 99;
	.selecter{
		display: table-cell;
		width: 1%;
		label{
			display: block;
			line-height: @height;
			padding-left: 5px;
			float: left;
			overflow: visible;
			white-space: nowrap;
			&:after{
				position: absolute;
				display: block;
				content: " ";
				border: 6px solid #fff;
				border-top: 6px solid transparent;
				left: 120px;
				top: 20px;
			}
			&:before{
				position: absolute;
				display: block;
				content: " ";
				border: 6px solid #ccc;
				border-top: 6px solid transparent;
				left: 120px;
				top: 18px;
			}
		}
		.ss-select{
			float: left;
			width: 75%;
			position: relative;
			display: block;
		}
	}
	&:after{
		display: table;
		clear: both;
		content: "";
	}
}
.activities-list{
	margin-bottom: 10px;
	.activity-item{
		margin-top: 10px;
	}
	.more-btn{
		height: 3.5rem;
		text-align: center;
		font-size: 1.6rem;
		line-height: 3.5rem;
		cursor: pointer;
	}
}
.ss-media-box{
	@ssMediaSize: 120px;
	.ss-media-hd {
		width: @ssMediaSize !important;
		height: @ssMediaSize !important;
		img{
			height: 100%;
		}
	}
	.ss-media-bd {
		width: 100%;
		display: block;
		float: left;
	}
	.ss-join-bd{
		padding-left: 15px;
		padding-right: 15px;
		margin-top: -7px;
		.money-box{
			color: #d00;
			font-size: 1.6rem;
		}
	}
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.media{
	.media-hd {
		width: 100%;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.title{
		font-size: 2.4rem;
		line-height: 32px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.media-bd{
		font-size: 1.6rem;
		p{
			line-height: 2.2rem;
		}
	}
}
.activity-detail{
	@btnHeight: 60px;
	margin-top: @backHeaderHeight;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	margin-bottom: @btnHeight;
	overflow: auto;
	.weui_panel{
		margin: 0 -10px;
		padding: 0 10px;
	}
	.header-msg{
		p{
			font-size: 16px;
			margin-bottom: 5px;
			&:last-child{
				margin-bottom: 15px;
			}
		}
	}
	.money{
		.cost{
			color: #ff4444;
			font-size: 24px;
		}
	}
	.media{
		padding: 0 10px;
		background-color: #f1f1f1;
		padding-bottom: 20px;
	}
	.detail-content{
		font-size: 14px;
	}
	.sign-btn{
		position:fixed;
		background-color: #fed152;
		color: #000;
		bottom: 0px;
		width: 50%;
		height: @btnHeight;
		line-height: @btnHeight;
		text-align: center;
		font-size: 18px;
	}
	.sign-btn-right{
		.sign-btn();
		margin-left: 50%;
		background-color: #fd8db3;
	}
}
.back-btn{
	font-size: 1.8rem;
	height: @backHeaderHeight;
	line-height: @backHeaderHeight;
	padding-left: 3rem;
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 999;
	width: 100%;
	&:before{
		position: absolute;
		content: "";
		width: 12px;
		height: 12px;
		top: 50%;
		left: 1rem;
		margin-top: -6px;
		-webkit-transform: rotate(135deg);
		transform: rotate(315deg);
		border-top: 1px solid @fontColor;
		border-left: 1px solid @fontColor;
	}
}
.sign-page{
	z-index: 99;
	position: fixed;
	top: @backHeaderHeight;
	bottom: 0px;
	width: 100%;
	left: 0px;
	background-color: #fff;
	.back-btn{
		border-bottom: 1px solid #ddd;
	}
}
.get-btn{
	display: inline-block;
}
.ss-title{
	padding:0 1rem;
	font-size: 1.8rem;
	height: 3.5rem;
	line-height: 3.5rem;
	border-bottom: 1px solid #ccc;
}
.tc{
	text-align: center;

}
.me{
	margin-top: 3rem;
	font-size: 2rem;
	@imgSize: 75px;
	img{
		width: @imgSize;
		height: @imgSize;
		border-radius: 50%;
	}
}
.my-activities{
	font-size: 1.5rem;
	li{
		padding: 1rem;
		border-bottom: 1px solid #ccc;
		position: relative;
		button{
			position: absolute;
			right: 1rem;
			bottom: 1rem;
		}
	}
	.ss-hd{
		font-size: 1.8rem;
	}
	.time{
		span{
			display: block;
			float: left;
			width: 80px;
		}
		time{
			display: block;
			float: left;
		}
	}

}
.myActivities{
	.back-btn{
		position: fixed;
		background-color: #fff;
		top: 0px;
		left: 0px;
		width: 100%;
	}
}

.QrCode{
	margin-top: 3rem;
	.tip{
		text-align: center;
		h3{
			font-size: 2rem;
			margin-top: 2rem;
		}
		p{
			font-size: 1.4rem;
		}
		img{
			width: 150px;
			height: 150px;
		}
	}
}
.feedback{
	h3{
		margin: 10px 15px;
		font-size: 18px;
	}
	p{
		font-size: 14px;
		margin: 5px 15px;
		text-indent: 2em;
	}
	img{
		border-radius: 0px;
	}
	.qr{
		text-align: center;
		img{
			width: 200px;
			height: 200px;
		}
	}
	.ol-serv{
		@height: 25px;
		line-height: @height;
		span{
			padding-top: 3px;
			padding-right: 5px;
		}
		img{
			width: @height;
			height: @height;
			vertical-align: middle;
		}
	}
}
.ss-media-box .ss-media-bd .weui_media_title {
	word-wrap: normal;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 22px;
}

.weui_btn_primary{
	background-color: @themeColor;
}
.weui_cells_radio .weui_check:checked + .weui_icon_checked:before {
	color: @themeColor;
}
.weui_btn_primary:not(.weui_btn_disabled):active {
	background-color: lighten(@themeColor, 10%);
}
.weui_btn_plain_primary{
	color: @themeColor;
	border-color: @themeColor;
}

//carousel
@carousel-indicator-border-color: #fff;
@carousel-indicator-active-bg: @themeColor;
@carousel-title-h: 40px;
.carousel{
	.slick-track{
		height: 200px;
		overflow: hidden;
	}
	.item{
		img{
			width: 100%;
		}
		.title-box{
			position: absolute;
			bottom: 0;
			height: @carousel-title-h;
			line-height: @carousel-title-h;
			background-color: rgba(0, 0, 0, .6);
			color: #FFF;
			width: 100%;
			padding-left: 15px;
			font-size: 17px;
		}
	}
}
.slick-dots {
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 15;
  width: 40%;
  padding-left: 0;
  list-style: none;
  text-align: right;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid @carousel-indicator-border-color;
    border-radius: 10px;
    cursor: pointer;

    background-color: #000 \9; // IE8
    background-color: rgba(0,0,0,0); // IE9
    button{
      height: 100%;
      width: 100%;
      display: block;
      color: transparent;
    }
  }
  .slick-active {
    width:  10px;
    height: 10px;
    background-color: @carousel-indicator-active-bg;
    border-color: @carousel-indicator-active-bg;
  }
}

//navication
.nav-item{
	padding: 20px 0;
	text-align: center;
	img{
		width: 75%;
	}
	a{
		color: @fontColor;
		font-size: 14px;
	}
}

