@themeColor: #ff8db3;
@secondColor: #ffd052;
@fontColor: #222;

@backHeaderHeight: 90px;
@bg: #f1f1f1;

*{
	box-sizing: border-box;
}
html{
	min-height: 100%;
	background-color: @bg;
}
body{
	width: auto;
	height: 100%;
	font-family: "MicroSoft YaHei", "微软雅黑", Georgia, 'Times New Roman', serif;
	color: @fontColor;
}
.fl{
	float: left !important;
}
.fr{
	float: right !important;
}
.clearfix{
	*zoom: 1;
	&:before, &:after{
		display: table;
		line-height:0px;
		content: "";
	}
	&:after{
		clear: both;
	}
}
.ss-flex {
    display: -webkit-box;
  	display: -webkit-flex;
  	display: flex;
}
.ss-flex-item {
    -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}
.select-header{
	@height: 90px;
	height: @height;
	border-bottom: #ccc 1px solid;
	position: fixed;
	top: 0px;
	background-color: #fff;
	z-index: 99;
	font-size: 24px;
	.selecter{
		display: table-cell;
		width: 1%;
		.tt{
			display: block;
			width: 100%;
			line-height: @height;
			text-align: center;
			float: left;
			overflow: visible;
			white-space: nowrap;
			padding-right: 10px;
			.txt{
				display: inline-block;
				margin-right: 5px;
			}
			.tri{
				display: inline-block;
				position: relative;
				top: -5px;
				left: 5px;
				width: 15px;
				height: 15px;
				margin-top: -5px;
				background-color: #FFF;
				border-left: 2px solid #ccc;
				border-bottom: 2px solid #ccc;
				transform: rotate(-45deg)
			}
		}
	}
	&:after{
		display: table;
		clear: both;
		content: "";
	}
}
.weui_mask_transition{
	top: 0px;
	&.show{
		display: block;
		background: rgba(0,0,0,.6);
	}
}
.weui_actionsheet{
	position: relative;
	bottom: auto !important;
}
.weui_actionsheet_cell{
	height: 84px;
	background-color: rgba(255, 255, 255, 0.75);
	font-size: 24px;
	line-height: 64px;
}
.activities-list{
	margin-bottom: 10px;
	.activity-item{
		margin-top: 10px;

	}
	.weui_media_box{
		padding: 10px;
		padding-top: 20px;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		border-bottom: 1px solid #e4e8d1;
		.weui_media_hd{
			width: 236px;
			height: 150px;
			margin-right: 23px;
			position: relative;
			.money{
				position: absolute;
				bottom: 0;
				line-height: 26px;
				font-size: 26px;
				color: #fb4381;
				background-color: rgba(255, 255, 255, .6);
				padding: 10px 15px;
			}
		}
		.title{
			height: 80px;
			font-size: 26px;
			word-break: break-all;
		    text-overflow: ellipsis;
		    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
		    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
		    -webkit-line-clamp: 2; /** 显示的行数 **/
		    overflow: hidden;  /** 隐藏超出的内容 **/
		    margin-bottom: 30px;
		}
		.ot{
			padding-right: 25px;
			font-size: 20px;
			color:#999;
		}
	}
}
.more-btn{
	height: 100px;
	text-align: center;
	font-size: 26px;
	line-height: 100px;
	cursor: pointer;
}
.ttt{
	padding: 20px 10px 10px;
	font-size: 20px;
	line-height: 30px;
	.tt{
		margin-bottom: 10px;
		.pp{
			display: block;
			color: #FFF;
			padding: 5px 10px;
			height: 33px;
			margin-right: 10px;
			float: left;
			line-height: 20px;
			&.red{
				background-color: @themeColor;
			}
			&.yellow{
				background-color: #ffd052;
			}
		}
		.txt{
			display: block;
			float: left;
		}
	}
}
.media{
	.media-hd {
		width: 100%;
		overflow: hidden;
		max-height: 271px;
		img{
			width: 100%;
		}
	}
	.title{
		font-size: 32px;
		line-height: 46px;
		padding-top: 30px;
		padding-bottom: 35px;
	}
	.has-pre{
		position: relative;
		&:after{
			content: " ";
			position: absolute;
			width: 100%;
			height: 3px;
			top: 50%;
			left: 0;
			background-color: #222;
		}
	}
}
.ot-msg{
	margin-bottom: 24px;
	span{
		display: inline-block;
	}
	font-size: 24px;
	line-height: 32px;
}
.activity-detail{
	@btnHeight: 110px;
	margin-top: @backHeaderHeight;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	margin-bottom: @btnHeight;
	overflow: auto;
	.weui_panel{
		margin: 0 -10px;
		padding: 0 10px;
	}
	.header-msg{
		p{
			font-size: 24px;
			margin-bottom: 24px;
			&:last-child{
				margin-bottom: 15px;
			}
		}
	}
	.money{
		.cost{
			color: #ff4444;
			font-size: 32px;
		}
	}
	.media{
		padding: 0 10px;
		background-color: #f1f1f1;
		padding-bottom: 20px;
	}
	.detail-content{
		font-size: 14px;
	}
	.sign-btn{
		position:fixed;
		background-color: #fed152;
		color: #000;
		bottom: 0px;
		width: 50%;
		height: @btnHeight;
		line-height: @btnHeight;
		text-align: center;
		font-size: 26px;
	}
	.sign-btn-right{
		.sign-btn();
		margin-left: 50%;
		background-color: #fd8db3;
	}
}
.back-btn{
	font-size: 26px;
	height: @backHeaderHeight;
	line-height: @backHeaderHeight;
	padding-left: 3rem;
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 999;
	width: 100%;
	&:before{
		position: absolute;
		content: "";
		width: 12px;
		height: 12px;
		top: 50%;
		left: 1rem;
		margin-top: -6px;
		-webkit-transform: rotate(135deg);
		transform: rotate(315deg);
		border-top: 1px solid @fontColor;
		border-left: 1px solid @fontColor;
	}
}
.sign-page{
	z-index: 99;
	position: fixed;
	top: @backHeaderHeight;
	bottom: 0px;
	width: 100%;
	left: 0px;
	background-color: #fff;
	.back-btn{
		border-bottom: 1px solid #ddd;
	}
}
.get-btn{
	display: inline-block;
}
.ss-title{
	padding:0 1rem;
	font-size: 1.8rem;
	height: 3.5rem;
	line-height: 3.5rem;
	border-bottom: 1px solid #ccc;
}
.tc{
	text-align: center;

}
.me{
	margin-top: 3rem;
	font-size: 2rem;
	@imgSize: 120px;
	img{
		width: @imgSize;
		height: @imgSize;
		border-radius: 50%;
	}
}
.my-activities{
	font-size: 1.5rem;
	li{
		padding: 1rem;
		border-bottom: 1px solid #ccc;
		position: relative;
		button{
			position: absolute;
			right: 1rem;
			bottom: 1rem;
		}
	}
	.ss-hd{
		font-size: 1.8rem;
	}
	.time{
		span{
			display: block;
			float: left;
			width: 80px;
		}
		time{
			display: block;
			float: left;
		}
	}

}
.myActivities{
	.back-btn{
		position: fixed;
		background-color: #fff;
		top: 0px;
		left: 0px;
		width: 100%;
	}
}

.QrCode{
	margin-top: 3rem;
	.tip{
		text-align: center;
		h3{
			font-size: 2rem;
			margin-top: 2rem;
		}
		p{
			font-size: 1.4rem;
		}
		img{
			width: 150px;
			height: 150px;
		}
	}
}
.feedback{
	h3{
		margin: 10px 15px;
		font-size: 28px;
	}
	p{
		font-size: 20px;
		margin: 5px 15px;
		text-indent: 2em;
	}
	img{
		border-radius: 0px;
	}
	.qr{
		text-align: center;
		img{
			width: 400px;
			height: 400px;
		}
	}
	.ol-serv{
		@height: 25px;
		line-height: @height;
		span{
			padding-top: 3px;
			padding-right: 5px;
		}
		img{
			width: @height;
			height: @height;
			vertical-align: middle;
		}
	}
}

.weui_btn_primary{
	background-color: @themeColor;
}
.weui_cells_radio .weui_check:checked + .weui_icon_checked:before {
	color: @themeColor;
}
.weui_btn_primary:not(.weui_btn_disabled):active {
	background-color: lighten(@themeColor, 10%);
}
.weui_btn_plain_primary{
	color: @themeColor;
	border-color: @themeColor;
}

//carousel
@carousel-indicator-border-color: #fff;
@carousel-indicator-active-bg: @themeColor;
@carousel-title-h: 54px;
@dotWidth: 16px;
.carousel{
	.slick-track{
		height: 330px;
		overflow: hidden;
	}
	.item{
		img{
			width: 100%;
		}
		.title-box{
			position: absolute;
			bottom: 0;
			height: @carousel-title-h;
			line-height: @carousel-title-h;
			background-color: rgba(0, 0, 0, .6);
			color: #FFF;
			width: 100%;
			padding-left: 15px;
			font-size: 26px;
		}
	}
}
.slick-dots {
  position: absolute;
  bottom: 13px;
  right: 10px;
  z-index: 15;
  width: 40%;
  padding-left: 0;
  list-style: none;
  text-align: right;

  li {
    display: inline-block;
    width:  @dotWidth;
    height: @dotWidth;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid @carousel-indicator-border-color;
    border-radius: @dotWidth;
    cursor: pointer;

    background-color: #000 \9; // IE8
    background-color: rgba(0,0,0,0); // IE9
    button{
      height: 100%;
      width: 100%;
      display: block;
      color: transparent;
    }
  }
  .slick-active {
    width:  @dotWidth;
    height: @dotWidth;
    background-color: @carousel-indicator-active-bg;
    border-color: @carousel-indicator-active-bg;
  }
}

//navication
.nav-item{
	padding: 33px 0;
	text-align: center;
	img{
		width: 118px;
	}
	.text{
		color: @fontColor;
		font-size: 24px;
	}
}
.weui_cells_title{
	font-size: 24px;
}
.weui_cells{
	font-size: 24px;
	.weui_cell{
		padding: 20px 30px;
	}
}
.weui_btn{
	font-size: 26px;
	&.weui_btn_mini{
		font-size: 18px;
	}
}
.weui_uploader_input_wrp, .weui_uploader_file{
	width: 120px;
	height: 120px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.weui_cells_radio .weui_check:checked + .weui_icon_checked:before{
	font-size: 24px;
}
.weui_cell_select .weui_cell_bd:after{
	width: 12px;
	height: 12px;
}
.weui_mask_transition{
	bottom: 0;
	height: auto;
	overflow: auto;
}
