<!DOCTYPE html>
<html>
<head>
	<title>活动详情</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=640, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/weui.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/fixscreen.js"></script>
</head>
<body>

	<div id="content"></div>
	<div id="pay-page-wrap"></div>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/static/js/lib/lib.js"></script>

	<!-- <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js"></script>  -->
	<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>  

	<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.form.min.js"></script>
	<script src="/static/js/modules/common.js"></script>
	<script src="/static/js/modules/config.js"></script>
	<script src="/static/js/modules/activity_detail.js"></script>
	<script src="/static/js/modules/sign_new.js"></script>
	<script src="/static/js/modules/pay.js"></script>
	<script type="text/javascript">
	  //<![CDATA[
		"use strict";

		var actid = getUrlParam("actid");
		var activityDetail = ReactDOM.render(
			React.createElement(ActivityDetail, {
				url: ges("activities/details"),
				//url: "/test/details.json",
				actid: actid
			}),
			document.getElementById('content')
		);

	  //]]>
	</script>
</body>
</html>
