<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联系我们</title>
	<meta name="viewport" content="width=640, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/static/css/weui.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

	<div id="content"></div>
	<script src="/static/js/lib/lib.js"></script>
	<script type="text/javascript" src="/static/js/modules/common.js"></script>
	<script type="text/javascript" src="/static/js/modules/config.js"></script>
	<script type="text/javascript" src="/static/js/modules/me.js"></script>
	<script type="text/javascript">
	  //<![CDATA[
	    "use strict";
		ReactDOM.render(
			React.createElement(Feedback, {"onlyContact":"1"}),
			document.getElementById('content')
		);
	  //]]>
	</script>
</body>
</html>
