<!DOCTYPE html>
<html>

<head>
    <title>名师试课</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/weui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script type="text/javascript" src="/static/js/fixscreen.js"></script>

    <script src="/static/js/lib/lib.js"></script>
    <script src="/static/js/dropload.min.js"></script>

    <script type="text/javascript" src="/static/js/react-slick.min.js"></script>
    <script type="text/javascript" src="/static/js/modules/list.js"></script>
    <script type="text/javascript" src="/static/js/modules/index.js"></script>
    <script type="text/javascript" src="/static/js/modules/config.js"></script>
    <script type="text/javascript" src="/static/js/modules/common.js"></script>
</head>

<body>
    <div id="content"></div>

    <script type="text/javascript">
    //<![CDATA[
    ReactDOM.render(
        React.createElement(Index, {
            //url: ges("activities/special-offers")
            //url: "/test/list.json"
        }),
        document.getElementById('content')
    );

    //]]>
    </script>
</body>

</html>
