<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/weui.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="sign-page">
        <form action="/test/sign.json" method="get" id="sign-form">
	        <input type="text" name="name" id="name" class="weui_input" >
	        <input type="text" name="phone" id="phone" class="weui_input" >
	        <input type="text" name="age" id="age" class="weui_input" >

	        <button type="submit" class="weui_btn weui_btn_primary">确定</button>

        </form>
    </div>


	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.form.min.js"></script>
	<script type="text/javascript">
	$(function(){
		  $("#sign-form").validate({
		rules: {
			"name": {required: true},
			"phone": {required: true},
			"age": {required: true},
			"gender": {required: true}
		},
		messages: {
			name: {required: ""}
		}
	})


	});
	</script>


</body>

</html>
