<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>验证手机号</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/weui.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

	<div id="content"></div>
	<script src="/static/js/lib/lib.js"></script>
	<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="/static/js/modules/common.js"></script>
	<script type="text/javascript" src="/static/js/modules/config.js"></script>
	<script type="text/javascript" src="/static/js/modules/verify.js"></script>
	<script type="text/javascript">
	  //<![CDATA[
		"use strict";
		ReactDOM.render(
			React.createElement(Verify, null),
			document.getElementById('content')
		);

	  //]]>
	</script>
</body>
</html>
